<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">{{masterClosetLatestHumiditemp.sensor_name}}</div>
    <div class="card-body">
      <b>Temperature:</b> {{masterClosetLatestHumiditemp.temperature}}˚<br>
      <b>Humidity:</b> {{masterClosetLatestHumiditemp.humidity}}%<br>
      <b>Event Time:</b> {{masterClosetLatestHumiditemp.event_time}}
    </div>
  </div>

  <div class="card">
    <div class="card-header">{{upstairsLatestHumiditemp.sensor_name}}</div>
    <div class="card-body">
      <b>Temperature:</b> {{upstairsLatestHumiditemp.temperature}}˚<br>
      <b>Humidity:</b> {{upstairsLatestHumiditemp.humidity}}%<br>
      <b>Event Time:</b> {{upstairsLatestHumiditemp.event_time}}
    </div>
  </div>

</div>
