<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        </button>
        <a class="navbar-brand" href="#">
          <img alt="{{name}}" src="{{pictureUrl}}" width="32" height="32">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button
               type="button" class="btn btn-default btn-primary"
               routerLink="/chatter"
               (click)="onChatter()">
               Chatter
            </button>
          </li>
          <li>
            <button
              type="button" class="btn btn-default btn-primary"
              (click)="auth.logout()">
                Log Out
            </button>
          </li>
        </ul>
      </div>
  </div>
</nav>
