client/node_modules
client/platforms
client/www
client/plugins
client/resources

*.log
*.store
*.DS_Store

server/node_modules
server/config/credentials.js
server/security/ssl/druidia.crt
server/security/ssl/druidia.pem
