logs/*.log

gulpfile.js

*.store
*.DS_Store

node_modules

app-server/security/credentials.js
app-server/security/ssl/druidia.crt
app-server/security/ssl/druidia.pem

app-web/dist/*
app-web/libs/*
npm-debug.log
