<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>druidia.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/mobile-style.css"> <!-- custom styles -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body ng-app="druidia-web" ng-controller="LoginController as ctrl">

    <div class="container">
            <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
              <form role="form">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Log on</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
        			    				<input type="text" ng-model="ctrl.creds.username" class="form-control input-sm" placeholder="Username">
        			    			</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <input type="password" name="password" ng-model="ctrl.creds.password" class="form-control input-sm" placeholder="Password">
                    </div>
                  <input type="submit" value="Log In" class="btn btn-info btn-block" ng-click="ctrl.onLogon()">
                  </div>
                </div>

              	<div class="panel panel-default">
              		<div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                  </div>
      			 			<div class="panel-body">
      			    			<div class="row">
      			    				<div class="col-xs-6 col-sm-6 col-md-6">
      			    					<div class="form-group">
      			                <input type="text" class="form-control input-sm" placeholder="First Name">
      			    					</div>
      			    				</div>
      			    				<div class="col-xs-6 col-sm-6 col-md-6">
      			    					<div class="form-group">
      			    						<input type="text" class="form-control input-sm" placeholder="Last Name">
      			    					</div>
      			    				</div>
      			    			</div>

      			    			<div class="form-group">
      			    				<input type="text" class="form-control input-sm" placeholder="Username">
      			    			</div>

      			    			<div class="row">
      			    				<div class="col-xs-6 col-sm-6 col-md-6">
      			    					<div class="form-group">
      			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
      			    					</div>
      			    				</div>
      			    				<div class="col-xs-6 col-sm-6 col-md-6">
      			    					<div class="form-group">
      			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
      			    					</div>
      			    				</div>
      			    			</div>

      			    			<input type="submit" value="Register" class="btn btn-info btn-block">
      			    	</div>
      	    		</div>
              </form>
        		</div>
        	</div>
        </div>
      </div>
    </div>





    <!-- JS -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-aria/angular-aria.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-material/angular-material.min.js"></script>

    <!--custom js-->
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/IndexController.js"></script>

    <script src="js/services/LoginService.js"></script>
    <script src="js/services/CommonService.js"></script>

    <script src="js/app.js"></script>
    <script src="js/http-module.js"></script>
    <script src="js/route-module.js"></script>
  </body>
</html>
