<!-- public/login.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>druidia.net - login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"> <!-- custom styles -->
    <link rel="stylesheet" href="libs/angular-material/angular-material.css">

    <!-- JS -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-aria/angular-aria.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-material/angular-material.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/services/LoginService.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="druidia-web" ng-controller="LoginController as ctrl">
  <div id="login">
    <form ng-submit="ctrl.onLogon()">
        Username<input type="text" ng-model="ctrl.creds.username"></br>
        Password<input type="password" ng-model="ctrl.creds.password"></br>
        <input type="submit" value="Login">
    </form>
  </div>
  <br/>

  <div id="addUser">
    <form ng-submit="ctrl.onCreateUser()">
        Username<input type="text" ng-model="ctrl.newCreds.username"><br/>
        Password<input type="password" ng-model="ctrl.newCreds.password"><br/>
        <input type="submit" value="Add User">
    </form>
  </div>

</body>
</html>
