
<b>druidia.net</b>
<div [hidden]="submitted">
  <form #loginForm="ngForm">
    <div class="form-group">
      <input
        id="username"
        type="text"
        class="form-control"
        minlength="8"
        maxlength="16"
        required
        name="username"
        [(ngModel)]="user.username"
        placeholder="username">

      <div *ngIf="formErrors.username" class="alert alert-danger">
        {{formErrors.username}}
      </div>
    </div>
    <div class="form-group">
      <input
        id="password"
        type="password"
        class="form-control"
        minlength="8"
        maxlength="16"
        required
        name="password"
        [(ngModel)]="user.password"
        placeholder="password">

      <div *ngIf="formErrors.password" class="alert alert-danger">
        {{formErrors.password}}
      </div>

      <div *ngIf="failedLogin" class="alert alert-danger">
        {{formErrors.failedLogin}}
      </div>
    </div>
    <button
      (click)="onLogin()"
      class="btn btn-default btn-primary"
      [disabled]="!loginForm.form.valid">
        Log In
    </button>
    <button
      (click)="onCreateAccount()"
      class="btn btn-default btn-primary"
      [disabled]="!loginForm.form.valid">
      Create Account
    </button>
    <a href="/auth/facebook"
      role="button"
      class="btn btn-default btn-primary">
        Log In with Facebook
        <i class="zmdi zmdi-facebook-box"></i>
    </a>
  </form>
</div>
