[Unit]
Description=Druidia Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/druidia/app/scripts/shell/druidia-run.sh
Restart=on-abort


[Install]
WantedBy=multi-user.target
