<div class="animated fadeIn">

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option1" autocomplete="off"
             (click)="onShuffle()"> Shuffle
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"
             (click)="onPrev()"> Prev
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option3" autocomplete="off"
             (click)="onNext()"> Next
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option4" autocomplete="off"
             (click)="onPlay()"> Play
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option5" autocomplete="off"
             (click)="onStop()"> Stop
    </label>
  </div>

</div>
