<NavBar>
</NavBar>

<md-card class="profile-card">
  <md-card-header align="center">
    <md-card-title>User Personal Information</md-card-title>
  </md-card-header>

  <md-card-content>

    <AddressComponent [verticalAlign]="verticalAlign"
                      [required]=true
                      [address]=userProfile.address></AddressComponent>
    <div *ngIf="verticalAlign"><br/></div>

    <md-input-container>
        <input mdInput [mdDatepicker]="picker" [mdDatepickerFilter]="myFilter" [min]="minDate" [max]="maxDate" placeholder="dob:">
        <button [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
    <div *ngIf="verticalAlign"><br/></div>

    <md-slide-toggle [(ngModel)]="userProfile.gender" [required]=true (change)=onGenderToggle()>Male</md-slide-toggle>
    <div *ngIf="verticalAlign"><br/></div>

  </md-card-content>
  <md-card-footer>
    <button (click)= "onSubmit()" md-button focused=true>Submit</button>
  </md-card-footer>
</md-card>
