<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>druidia.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mobile-style.css"> <!-- custom styles -->

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>
    <!--custom js-->
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/services/LoginService.js"></script>
    <script src="js/mobile-app.js"></script>

  </head>
  <body ng-app="druidia-mobile-web">
    <ng-view></ng-view>
  </body>
</html>
